h1 {
    text-align: center;
    color: cornflowerblue;
}

.chiaPic {
    width: 512px;
}

.imgFit {
   width: 50%;
   justify-content: center;
}

.errorMessage {
    text-align: center;
}

.errorDiv {
    display: flex;
    justify-content: center;
}
.errorCat {
  width: 35%;
}
.form-group {
    margin:3em; 
}

.btn-primary {
    margin: 3em;
}

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 50px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

body {
    background-color: lightblue;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

footer {
    background-color: tan;
}